<div class="bit">
  <x-timer data-time="{{mins}}" style="color:{{color}};"></x-timer>
  {{! enter a duration for the bit}}
  <input type="number" class="input-mini" value="{{duration}}"></input>
</div>