<h1 class="byte_name" contenteditable="true">{{name}}</h1><i class="icon-remove icon-large pull-right remove_byte"></i>
<div class="byte_description" contenteditable="true"></div>
</br>
{{bits.length}}
<div class="bits"></div>
<i class="icon-plus icon-4x add_bit"></i>