<h1 class="word_name" contenteditable="true">{{name}}</h1>
<i class="icon-remove remove_word"></i>
<div class="word_description" contenteditable="true"></div>
<div class="bytes"></div>
<i class="icon-plus icon-4x add_byte"></i>